<style>
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin-left: auto;
  margin-right: auto;
}
</style>

<h4 class="text-center">
    <a href="/sponsors.html">Our Sponsors</a>
</h4>
<div id="carousel-sponsors" class="carousel slide" data-interval="2500" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item">
            <a href="http://www.burnetroadstorage.com/" target="_blank"><img src="sponsors/carousel-BRStorage-bg.jpg" alt="Burnet Road Storage" title=""></a>
        </div>
        <div class="item">
            <a href="https://www.facebook.com/pages/Crestview-Minimax-IGA/102220176512681" target="_blank"><img src="sponsors/carousel-CrestviewIGA.jpg" alt="Crestview IGA" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.grandecom.com/" target="_blank"><img src="sponsors/carousel-GrandeServices_ColorPMS_Vertical.jpg" alt="Grande Communications" title=""></a>
        </div>
        <div class="item">
            <a href="http://austin.snapology.com/" target="_blank"><img src="sponsors/carousel-snapology.png" alt="Snapology Austin" title=""></a>
        </div>
        <div class="item">
            <a href="http://nativeedgelandscape.com/" target="_blank"><img src="sponsors/carousel-nativeedge.png" alt="Native Edge Landscape" title=""></a>
        </div>
        <div class="item">
            <a href="http://juicehomes.com/idx/?idx-q-ListingAgentID%3C0%3E=491811" target="_blank"><img src="sponsors/carousel-vccw-gold-juice.jpg" alt="Juice Homes - John Dunham" title=""></a>
        </div>
    </div><!-- carousel-inner -->
</div><!-- carousel -->