<style>
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin-left: auto;
  margin-right: auto;
}
</style>

<h4 class="text-center">
    <a href="/sponsors.html">Our Sponsors</a>
</h4>
<div id="carousel-sponsors" class="carousel slide" data-interval="2500" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for sponsor in site.data.sponsors_spring2017.gold %}
        <div class="item{% if forloop.first %} active{% endif %}">
            {% if sponsor.url %}<a href="{{ sponsor.url }}" target="_blank">{% endif %}
            <img class="img-rounded" src="{{ sponsor.img }}" alt="" title="{{ sponsor.name }}">
            {% if sponsor.url %}</a>{% endif %}
        </div>
        {% endfor %}
    </div><!-- carousel-inner -->
</div><!-- carousel -->
