<h4>
    Our Gold Sponsors
</h4>
<div id="carousel-sponsors" class="carousel slide" data-interval="2500" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="http://www.austintexas.gov/department/parks-and-recreation" target="_blank"><img src="sponsors/AustinParks-vert-216x300.jpg" alt="Austin Parks &amp; Recreation Department" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.burnetroadstorage.com/" target="_blank"><img src="sponsors/BRStorage-bg.jpg" alt="Burnet Road Storage" title=""></a>
        </div>
        <div class="item">
            <a href="https://www.facebook.com/pages/Crestview-Minimax-IGA/102220176512681" target="_blank"><img src="sponsors/CrestviewIGA-150.jpg" alt="Crestview IGA" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.grandecom.com/" target="_blank"><img src="sponsors/GrandeServices_ColorPMS_Vertical.jpg" alt="Grande Communications" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.txdpscu.org" target="_blank"><img src="sponsors/TXdpsCU-logo-160.jpg" alt="Texas DPS Credit Union" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.amysicecreams.com/" target="_blank"><img src="sponsors/amys.jpg" alt="Amy's Ice Creams" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.hotelallandale.com/" target="_blank"><img src="sponsors/hotel-Allendale.jpg" alt="Hotel Allandale" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.pilatescenterofaustin.com/" target="_blank"><img src="sponsors/pilates-center.jpg" alt="Pilates Center of Austin" title=""></a>
        </div>
        <div class="item">
            <a href="http://chrischappellart.com/" target="_blank"><img src="sponsors/vccw-gold-ChrisChappell.jpg" alt="Chris Chappell – Artist" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.currasgrill.com/" target="_blank"><img src="sponsors/vccw-gold-Curras.jpg" alt="Curra’s Grill" title=""></a>
        </div>
        <div class="item">
            <a href="http://davidohlerking.com/" target="_blank"><img src="sponsors/vccw-gold-DavidOhlerking.jpg" alt="David Ohlerking – Artist" title=""></a>
        </div>
        <div class="item">
            <a href="http://www.johndunham.com/home.asp" target="_blank"><img src="sponsors/vccw-gold-juice.jpg" alt="Juice Realty — John Dunham" title=""></a>
        </div>
        <div class="item">
            <a href="http://nativeedgelandscape.com" target="_blank"><img src="sponsors/vccw-gold-native-edge-300x58.png" alt="Native Edge Landscape, LLC" title=""></a>
        </div>
        <div class="item">
            <a href="http://nancyjocallahan.com/" target="_blank"><img src="sponsors/vccw-gold-state-farm.png" alt="State Farm — Nancy Callahan" title=""></a>
        </div>
        <div class="item">
            <a href="https://www.facebook.com/WeissFrederickPllc" target="_blank"><img src="sponsors/vccw-gold-wf.jpg" alt="Weiss &amp; Frederick, PLLC" title=""></a>
        </div>
    </div><!-- carousel-inner -->
</div><!-- carousel -->
