<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.png">
        <title>Violet Crown Community Works: {{ page.title }}
        </title><!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-vccw-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Violet Crown Community Works</a>
                </div>
                <div class="collapse navbar-collapse navbar-vccw-collapse">
                  <ul class="nav navbar-nav">
                        <li {% if page.url contains 'vcf.html' %}class='active'}{% endif %}><a href="vcf.html">VC Fest (May)</a></li>
                        <li {% if page.url contains 'artsfest.html' %}class='active'}{% endif %}><a href="artsfest.html">VC Arts Fest (Dec)</a></li>
                        <li {% if page.url contains 'projects.html' %}class='active'}{% endif %}><a href="projects.html">Projects</a></li>
                        <li {% if page.url contains 'domino.html' %}class='active'}{% endif %}><a href="domino.html">Domino the Pig</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li {% if page.url contains 'about.html' %}class='active'}{% endif %}><a href="about.html">About</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
            <div class="row">
                <div class="col-md-9">
                    {{ content }}
                </div><!-- col-md-9 -->
                <div class="col-md-3">
                    <div class="well">
                        Follow us on <a href="https://twitter.com/intent/follow?screen_name=VioletCrownFest" target="_blank">Twitter</a> and <a href="http://www.facebook.com/VioletCrownFestival" target="_blank">Facebook</a>
                    </div>
                    <br>
                    <br>
                    {% include sponsors.html %}
                </div><!-- col-md-3 -->
            </div><!-- row -->
        </div><!-- /container -->
        <!-- Bootstrap core JavaScript
      ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.js">
</script> <script src="js/bootstrap.js">
</script>
    </body>
</html>
