<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>Violet Crown Community Works: {{ page.title }}
        </title><!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
    {% include facebook-api.html %}
    <div class="container">
      {% include navbar.html %}
        <div class="row">
            <div class="col-md-8">
                {{ content }}
            </div><!-- col-md-8 -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4><a href="/sponsors.html">Our sponsors</a></h4></div>
                    <div class="panel-body">{% include sponsors.html %}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4>Connect with VCCW on social media</h4></div>
                    <div class="panel-body">
                        <div><a class="twitter-timeline" data-width="300" data-height="400" href="https://twitter.com/VioletCrownFest?ref_src=twsrc%5Etfw">Tweets by VioletCrownFest</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div>
                        <br>
                        <div class="fb-page" data-href="https://www.facebook.com/VioletCrownFestival/" data-tabs="events" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/VioletCrownFestival/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/VioletCrownFestival/">Violet Crown Festival</a></blockquote></div>
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div><!-- row -->
        {% include footer.html %}
    </div><!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script> <script src="js/bootstrap.min.js"></script>
    </body>
</html>
