<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>Violet Crown Community Works: {{ page.title }}
        </title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    {% include facebook-api.html %}
    <div class="container">
      {% include navbar.html %}
        <div class="row">
            <div class="col-md-8">
                {{ content }}
            </div><!-- col-md-8 -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4><a href="/sponsorlist">Our sponsors</a></h4></div>
                    <div class="panel-body">{% include sponsors.html %}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4>Connect with VCCW on social media</h4></div>
                    <div class="panel-body">
                        <div><a href="https://www.instagram.com/violetcrownfest/">Violet Crown Festival on Instagram</a></div>
                    </div><!-- panel-body -->
                    <div class="panel-body">
                        <div><a href="https://bsky.app/profile/violetcrownfestival.com">Violet Crown Community Works on Bluesky</a></div>
                    </div><!-- panel-body -->
                    <div class="panel-body">
                        <div class="fb-page" data-href="https://www.facebook.com/VioletCrownCommunityWorks" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/VioletCrownCommunityWorks" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/VioletCrownCommunityWorks">Violet Crown Community Works</a></blockquote></div>
                    </div>
                </div><!-- panel -->

                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4>Get your BBQ Tickets!</h4></div>
                <div class="panel-body">
                  <img src="https://items-images-production.s3.us-west-2.amazonaws.com/files/fb4ec05eb938a049bdd0bfcb3e087ea820b2490a/original.png" alt="2025 BBQ Showdown All Access Pass" onerror="this.style.display='none'" style="width: 100%;">
                  <div style="padding: 20px;" class="text-center">
                    <p style="
                  font-size: 18px;
                  line-height: 20px;
                ">2025 BBQ Showdown<br>All Access Pass</p>
                    <p style="
                  font-size: 18px;
                  line-height: 20px;
                  font-weight: 600;
                ">$15.00</p>
                  <a target="_blank" href="https://square.link/u/VyvrDgfW?src=embed" style="
                  display: inline-block;
                  font-size: 18px;
                  line-height: 48px;
                  height: 48px;
                  color: #ffffff;
                  min-width: 212px;
                  background-color: #006aff;
                  text-align: center;
                  box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
                  border-radius: 6px;
                ">Buy now</a>
                </div>
              </div>
           </div><!-- col-md-4 -->
        </div><!-- row -->
        {% include footer.html %}
    </div><!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
