<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.png">
        <title>Violet Crown Community Works: {{ page.title }}
        </title><!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
    {% include facebook-api.html %}
    <div class="container">
        <div class="jumbotron">
          <div class="container">
            <div class="col-md-4"><img class="img-responsive" src="img/vcarts_crown.png"></div>
            <div class="col-md-8"><h2>Violet Crown Community Works</h2></div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ content }}
            </div><!-- col-md-9 -->
            <div class="col-md-4">
                <div class="well">
                  <div>
                    <a href="https://twitter.com/VioletCrownFest" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @VioletCrownFest</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  </div>
                  <div class="fb-follow" data-href="https://www.facebook.com/VioletCrownFestival" data-width="175" data-show-faces="false"></div>
                </div>
                <br>
                <br>
                {% include sponsors.html %}
            </div><!-- col-md-3 -->
        </div><!-- row -->
    </div><!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script> <script src="js/bootstrap.min.js"></script>
    </body>
</html>
